{% extends 'base.html' %}
{% block title %}画像比較{% endblock %}
{% block content %}
<h2>あなたと画像が似ている他のユーザ</h2>
<div class="ml-5">
    <p>数値が小さいほど似ています。</p>
    <ul class="small">
        <li>~120:同一人物レベル！</li>
        <li>~125:兄弟レベル！</li>
        <li>~130:たまに間違えられるレベル！</li>
        <li>~135:角度によっては似ているレベル！</li>
        <li>~140:遠目で見たら似ているレベル！</li>
        <li>141~:宇宙人から見たら似ているレベル！</li>
    </ul>

{% if request.method == 'GET' %}
<div class="text-center justify-content-center m-xl-5">
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">画像比較をする</button>
    </form>
</div>
{% endif %}

{% if request.method == 'POST' %}

    {% if messages %}
    <div class="m-5">
        <h4>{{messages}}</h4>
    </div>
    {% endif %}

</div>
    {% for o in others %}
    <div class="clearfix">
        <div class="mx-auto text-center">
            {% if forloop.first %}
            <a class="text-decoration-none" href="{% url 'otheranswer' o.cmp.id %}">
                <h3>ニックネーム：{{o.cmp.nickname}} |似ている度:{{o.ret}}</h3></a>
                <img class="my-lg-3" src="{{o.images.url}}" alt="no img" width="600px">
            {% elif forloop.last %}
                <a class="text-decoration-none" href="{% url 'otheranswer' o.cmp.id %}">
                <h5>ニックネーム：{{o.cmp.nickname}} |似ている度:{{o.ret}}</h5></a>
                <img class="my-lg-3" src="{{o.images.url}}" alt="no img" width="400px">
            {% else %}
                <a class="text-decoration-none" href="{% url 'otheranswer' o.cmp.id %}">
                <h4>ニックネーム：{{o.cmp.nickname}} |似ている度:{{o.ret}}</h4></a>
                <img class="my-lg-3" src="{{o.images.url}}" alt="no img" width="500px">
            {% endif %}
            </div>
        </div>
    {% endfor %}

{% endif %}

{% endblock %}