{% extends 'base.html' %}
{% block title %}他のユーザ情報{% endblock %}
{% block content %}

<div class="from-group">
  <form action="" method="GET">
    <input type="submit" class="btn btn-dark" name="a" value="ニックネーム昇順">
    <input type="submit" class="btn btn-dark" name="b" value="ニックネーム降順">
    <input type="submit" class="btn btn-dark" name="c" value="ログイン日付昇順">
    <input type="submit" class="btn btn-dark" name="d" value="ログイン日付降順">
    <input type="submit" class="btn btn-dark" name="e" value="登録日付昇順">
    <input type="submit" class="btn btn-dark" name="f" value="登録日付降順">
  </form>
</div>

{% for u in page_obj %}
<br>
<div class="card mb-3 mx-auto shadow" style="width: 480px; height: auto;" >
  <a class="text-decoration-none" href="{% url 'otheranswer' u.id %}">
    <h3 class="card-header">{{u.nickname}}
                            
                            </h3>
    <h6 class="card-header">{{u.short_msg}}</h6>
    <span class="card-body extends">
      <h5 class="card-title">{% if u.age %}{{u.gender|default:"性別"}}
                              {% else %}性別
                              {% endif %}
                              {% if u.age %}{{u.age}}歳
                              {% else %}年齢
                              {% endif %}</h5>
  </span>
  <div class="card-body">
  {% if u.image %}
    <img class="card-img-top" src="{{u.image.url}}" alt="no img" width="400px" height="auto">
  {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-emoji-sunglasses bg-warning text-muted" viewBox="0 0 16 16">
      <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
    </svg>
  {% endif %}
  </div>
  <div class="card-footer text-muted">{{u.user.last_login}}</div>
  </div>
</a>
{% endfor %}

{% include 'pagination.html' %}

{% endblock %}