{% extends 'base.html' %}
{% block title %}ユーザー登録{% endblock %}
{% block content %}

{% if message %}
<div class="messages alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}


<div class="card mb-3 mx-auto shadow" style="width: 480px; height: auto;" >
    <div class="card-header">
        <h1>ユーザ登録</h1>
    </div>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <ul class="list-group">
            {% for f in form %}
            <label for="text" class="mx-3 my-1">{{f.label }}:</label>
            <li class="list-group-item">{{ f }}</li>
            <li class="list-group-item small">{{ f.help_text }}</li>
            {% if f.errors %}
            <li class="list-group-item small">{{ f.errors }}</li>
            {% endif %}
            {% endfor %}
    </ul>
    <div class="mx-auto my-3" style="width: 100px;">
        <button type="submit" class="btn btn-primary" name="create">確認</button>
    </div>
    </form>
    <p><a href="{% url 'login'%}">ログインはこちら>></a></p>
</div>

{% endblock %}