{% extends 'base.html' %}
{% block title %}質問{% endblock %}
{% block content %}
<fieldset class="form-group">
  {# カテゴリの設定 #}
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <div class="form-group text-center ml-5">
      <label for="">←少ない　多い→</label>
    </div>
{% for q in question %}
<fieldset class="form-group">
  {# 質問文の設定 #}
  <div class="form-row">
    <div class="form-group col-sm-6 border-bottom">
      <label for="text1">質問{{q.q_id}}:{{q.q_title}}</label>
    </div>
    {# ラジオボタンの設定 #}
    <div class="pull-right">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{q.q_id}}" id="choice1" value="{{q.q1}}"/>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{q.q_id}}" id="choice2" value="{{q.q2}}"/>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{q.q_id}}" id="choice3" value="{{q.q3}}"/>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{q.q_id}}" id="choice4" value="{{q.q4}}"/>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{q.q_id}}" id="choise5" value="{{q.q5}}"/>
      </div>
    </div>
  </div>
  {% endfor %}
  
  {% if error_message %}
  <div class="alert alert-dismissible alert-danger">
    <strong>{{error_message}}</strong>
  </div>
  {% endif%}
  {% if success_message %}
  <div class="alert alert-dismissible alert-success">
    <strong>{{success_message}}</strong>
  </div>
  {% endif%}
  
  <input type="submit" class="btn btn-primary" value="回答">
</form>
</fieldset>
{% endblock %}
