{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap4 minty -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
      integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH"
      crossorigin="anonymous"
    />
    <!-- javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <!-- Google API -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SG396MNCFE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SG396MNCFE');
    </script>
  </head>
  <body class="container">
    <header>
      <h1 class="title"><a class="" href="{% url 'index' %}">HEAT MATCH</a></h1>
      {% if request.user.is_authenticated %}
      <div class="text-right ">
        <ul class="list-inline my-sm-0">
          <li class="list-inline-item small">ログインユーザ：{{ request.user }}</li>
          <li class="list-inline-item small"><a class="" href="{% url 'logout' %}">[ログアウト]</a></li>
        </ul>
      </div>
      {% else %}
      <span class="text-right"><p></p></span>
      {% endif %}
      {# ナビゲーションバー #}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">TOP</a>
          {% if request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'friends' request.user.id %}">友達</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts' %}">タイムライン</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'question' %}">質問</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'myanswer' request.user.id %}">マイアンサー</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'comparison' request.user.id %}">画像比較</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'graphcomp' request.user.id %}">回答比較</a>
              </li>
            </ul>
            {# 右寄せ #}
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'mypage' request.user.id %}">マイページ</a>
              </li>
            </ul>
          </div>
        {% endif %}
      </nav>
    </header>
  </body>
  <br />
  {% block content %} {% endblock %}
  <footer>
    <hr>
    <div class="text-center">
      <p>&copy; Eiji-Matsui : since 2022</p>
    </div>
  </footer>
</html>
